.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "ad"
    "footer";
}

@media (min-width: 375px) {
    .wrapper {
        grid-template-columns: 
        1fr
        ;
        grid-template-areas: 
        'content';
    }

    header, nav, aside, .ad, footer {
        display: none;
    }
}